body {
  background-color: #222831;
  color: #dddddd;
}

.card {
  border-radius: 4px;
  background-color: #30475e;
  padding: 16px;
  margin: 16px 0;
}

.label,
.char-name {
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 60%;
}

.label {
  position: relative;
  letter-spacing: 2px;
  bottom: 4px;
}

.card-inner {
  border-radius: 4px;
  background-color: #222831;
  padding: 16px;
  margin: 16px 0;
}

.feature-list {
  font-weight: bold;
}

.feature-list > .false {
  opacity: 0.33;
  font-weight: normal;
}

.char-infos {
  display: flex;
  justify-content: space-between;
}

.char-info {
  margin-right: 12px;
  margin-bottom: -8px;
}

.char-portrait {
  /* flex: 0 0 20%; */
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #f05454;
  background-image: url("https://via.placeholder.com/512x512");
  background-size: contain;
  border-radius: 4px;
}

.char-name {
  position: relative;
  bottom: 0.2rem;
}

.feature-icon {
  display: inline-block;
  position: relative;
  height: 0;
  padding-bottom: 16%;
  width: 16%;
  border-radius: 50%;
  background-color: #f05454;
  border: 2px solid #30475e;
  text-align: center;
}
.feature-icon.highlight {
  border: 2px solid #dddddd;
}
.feature-icon.disabled {
  opacity: 0.2;
}

.elements-column .feature-icon {
  width: 12%;
  padding-bottom: 12%;
}

.feature-icon.feature-icon--hydro {
  background-color: #0f0;
}

.feature-icon .inner-icon {
  font-size: 2.4rem;
  line-height: 1;
  padding-top: 0.5rem;
  display: block;
  font-weight: bold;
}

.feature-icon.icon-hydro {
  background-color: #F72585;
}
.feature-icon.icon-cryo {
  background-color: #4895EF;
}
.feature-icon.icon-pyro {
  background-color: #560BAD;
}
.feature-icon.icon-electro {
  background-color: #B5179E;
}
.feature-icon.icon-geo {
  background-color: #480CA8;
}
.feature-icon.icon-anemo {
  background-color: #3A0CA3;
}

.feature-icon.icon-sword {
  background-color: #7209B7;
}
.feature-icon.icon-bow {
  background-color: #4361EE;
}
.feature-icon.icon-catalyst {
  background-color: #3F37C9;
}
.feature-icon.icon-claymore {
  background-color: #4CC9F0;
}
