body {
  background-color: #222831;
  color: #dddddd;
}

.card {
  border-radius: 4px;
  background-color: #30475e;
  padding: 1.25rem;
  margin: 1.25rem 0;
}

.label {
  text-transform: uppercase;
  line-height: 1;
  font-size: 60%;
  position: relative;
  letter-spacing: 2px;
  bottom: 4px;
}

.card-inner {
  border-radius: 4px;
  background-color: #222831;
  padding: 1.25rem;
  margin: 1.25rem 0;
}

.feature-list {
  font-weight: bold;
}

.feature-list > .false {
  opacity: 0.33;
  font-weight: normal;
}

.char-infos {
  display: flex;
  justify-content: space-between;
}

.char-info {
  flex: 0 0 22%;
  position: relative;
}

.char-portrait {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #f05454;
  background-image: url("https://via.placeholder.com/512x512");
  background-size: contain;
  border-radius: 4px;
}

.elements-group,
.details-group,
.weapons-group {
  display: flex;
}

.feature-icon {
  flex: 0 0 12%;
  position: relative;
  border-radius: 50%;
  background-color: #bbbbbb;
  border: 2px solid #30475e;
  text-align: center;
  width: 100%;
  height: 0;
  padding-bottom: 12%;
}

.weapons-group .feature-icon {
  flex: 0 0 17%;
  padding-bottom: 17%;
}

.feature-icon.highlight {
  border: 2px solid #dd0;
}
.feature-icon.disabled {
  opacity: 0.1;
}

.feature-icon.feature-icon--hydro {
  background-color: #0f0;
}

.feature-icon .inner-icon {
  font-size: 1rem;
  line-height: 1;
  padding-top: 0.5rem;
  display: block;
}

.details-group {
  margin-top: 0.2rem;
}

.feature-icon.icon-hydro {
  background-color: #F72585;
}
.feature-icon.icon-cryo {
  background-color: #4895EF;
}
.feature-icon.icon-pyro {
  background-color: #560BAD;
}
.feature-icon.icon-electro {
  background-color: #B5179E;
}
.feature-icon.icon-geo {
  background-color: #480CA8;
}
.feature-icon.icon-anemo {
  background-color: #3A0CA3;
}

.feature-icon.icon-sword {
  background-color: #7209B7;
}
.feature-icon.icon-bow {
  background-color: #4361EE;
}
.feature-icon.icon-catalyst {
  background-color: #3F37C9;
}
.feature-icon.icon-claymore {
  background-color: #4CC9F0;
}
