
:root {
  --col-dark-purple: #0a043c;
  --col-dark-purple-2: #171149;
  --col-dark-purple-3: #241E56;
  --col-blue: #03506f;
  --col-grey: #bbbbbb;
  --col-mayo: #ffe3d8;
}

body {
  background-color: var(--col-dark-purple);
  color: var(--col-mayo);
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--col-mayo);
}

.global-header,
footer {
  margin-bottom: 0;
  padding: 0;
}

.global-wrapper {
  padding: 2rem 0;
}

.card {
  background-color: var(--col-dark-purple-2);
  border-radius: 4px;
  padding: 1.5rem;
  margin: 1.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.card-title {
  margin: 0;
  margin-bottom: 1rem;
}

.card-subtitle {
  position: relative;
  bottom: 1rem;
  opacity: 0.5;
  margin: 0;
}
.card-description {
  margin: 0;
}

.controls-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-form .button-group {
  margin: 1rem 0;
}

.filter-form .button {
  padding: 0.5rem 1rem;
}

.control-group {
  flex: 0 0 22%;
}

.control-group.full {
  flex: 0 0 100%;
}

.control-group .filter-checkbox {
  display: block;
}

.control-group.full .filter-checkbox {
  display: inline-block;
  margin-right: 2rem;
}

.control-group .filter-checkbox .label-body {
  margin-left: 0.4rem;
}

.lineup-feature.characters .feature-detail {
  font-weight: bold;
  font-size: 150%;
}

.lineup-feature .feature-label {
  font-weight: bold;
  font-size: 80%;
  margin-right: 0.5rem;
}

.wip {
  opacity: 25%;
}
