
:root {
  --col-dark-purple: #0a043c;
  --col-dark-purple-2: #171149;
  --col-dark-purple-3: #241E56;
  --col-blue: #03506f;
  --col-grey: #bbbbbb;
  --col-mayo: #ffe3d8;
}

body {
  background-color: var(--col-dark-purple);
  color: var(--col-mayo);
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--col-mayo);
}

.global-header,
footer {
  margin-bottom: 0;
  padding: 0;
}

.global-wrapper {
  padding: 2rem 0;
}

.card {
  background-color: var(--col-dark-purple-2);
  border-radius: 4px;
  padding: 1.5rem;
  margin: 1.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.card-title {
  margin: 0;
  margin-bottom: 1rem;
}

.card-subtitle {
  position: relative;
  bottom: 1rem;
  opacity: 0.5;
  margin: 0;
}
.card-description {
  margin: 0;
}

.controls-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-form .button-group {
  margin: 1rem 0;
}

.filter-form .button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.control-group {
  flex: 0 0 22%;
}

.control-group.full {
  flex: 0 0 100%;
}

.control-group .filter-checkbox {
  display: block;
}

.control-group.full .filter-checkbox {
  display: inline-block;
  margin-right: 2rem;
}

.control-group .filter-checkbox .label-body {
  margin-left: 0.4rem;
}

.control-group h5 {
  padding-bottom: 0.5rem;
}

.lineup-feature.characters .feature-detail {
  font-weight: bold;
  font-size: 150%;
}

.lineup-feature .feature-label {
  font-weight: bold;
  font-size: 80%;
  margin-right: 0.5rem;
}

.wip {
  opacity: 25%;
}

/* DO EEET */

/* .card--result {
  display: flex;
} */

.card--result > .results-column {
  display: inline-block;
  vertical-align: top;
}

.card--result > .character-column {
  /* flex: 0 0 40%; */
  width: 39.3333333333%;
}
.card--result > .elements-column {
  /* flex: 0 0 33%; */
  width: 30.6666666667%;
  margin-left: 4%;
}
.card--result > .weapons-column {
  /* flex: 0 0 20%; */
  width: 22%;
  margin-left: 4%;
}

.feature-list {
  font-weight: bold;
}

.feature-list > .false {
  opacity: 0.33;
  font-weight: normal;
}

.char-infos {
  display: flex;
  justify-content: space-between;
}

.char-info {
  flex: 0 0 22%;
  position: relative;
}

.char-portrait {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("https://via.placeholder.com/512x512");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.elements-group,
.details-group,
.weapons-group {
  display: flex;
}

.feature-icon {
  flex: 0 0 13%;
  position: relative;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0);
  text-align: center;
  width: 100%;
  height: 0;
  padding-bottom: 11%;
  background-size: contain;
  background-repeat: no-repeat;
}

.weapons-group .feature-icon {
  flex: 0 0 17%;
  padding-bottom: 14%;
}

.gle-icon.highlight {
  /* border: 2px solid #F4D760; */
  border: 2px solid rgba(244, 215, 95, 0.8);
}
.gle-icon.disabled {
  opacity: 0.0867;
}

.gle-icon.feature-icon--hydro {
  background-color: #0f0;
}

.feature-icon .inner-icon {
  font-size: 1rem;
  line-height: 1;
  padding-top: 0.5rem;
  display: block;
}

.details-group {
  margin-top: 0.2rem;
}

.checkbox-icon {
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

.gle-icon.off {
  opacity: 0.15;
}
